<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>WhatsApp</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <!-- container esterno -->
    <div id="app" class="container g-0">

        <!-- divisione container in 2 sezioni -->
        <div class="row g-0 height">
            <!-- colonna contatti -->
            <div class="col-4 aside">
            
                <!-- header personale -->
                <!-- utente -->
                <div class="utente">
                        <!-- imagine profilo -->
                        <div class="img-profile-container">
                            <img :src="io.avatar" alt="" @click="showUser">
                            <span class="name">{{io.name}}</span>
                        </div>

                        <!-- tasti aside -->
                        <div class="header-buttom">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-list-ul"></i>
                        </div>
                </div>

                <!-- notifiche -->
                <div class="notifiche">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="bell-text">
                            <span class="big">Ricevi notifiche dei nuovi messaggi</span>
                            <span class="underline">Attiva notifiche Dekstop</span>
                        </div>
                </div>

                <!-- cerca contatto -->
                <div class="search">
                        <div class="container-bar">
                            <div class="buttom-search">
                                <i class="fas fa-search"></i>
                            </div>

                            <input class="input-text" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="ricerca" v-model="name">
                        </div>
                </div>

                <!-- contatti -->
                <div class="contact">
                    <div class="contact2">

                        <ul>
                            <li class="user" v-for="(contact, index) in contacts" @click="selectContact(index)" v-if="contact.visible == true">
                                <div class="user-img">
                                    <img :src="`./assets-boolzapp/img/avatar${contact.avatar}.jpg`" alt="">
                                </div>
                                <span>{{contact.name}}</span>
                            </li>
                        </ul>

                    </div>
                </div>


            </div>

            <!-- colonna chat -->
            <div class="col-8 chat-zone">
                <header>
                    <div class="img-profile-container">
                        <img :src="`./assets-boolzapp/img/avatar${contacts[activeUser].avatar}.jpg`" alt="">
                        <div class="last-access">
                            <span class="name">{{contacts[activeUser].name}}</span>
                            <!-- LAST ACCESS -->
                            <span class="second">Ultimo accesso oggi alle 10:35</span>
                        </div>
                    </div>

                    <div class="option">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-list-ul"></i>
                    </div>
                </header>

                <div class="chat-area">
                    <div class="chat-area2 d-flex flex-column p-4">
                        <div class="mess" v-for="(message, index) in contacts[activeUser].messages" :class="{mio : message.status === `sent`,
                        suo : message.status === `received`}">
                            {{message.text}}
                            <div class="date1">
                                {{message.date}}
                            </div>
                            <div class="messinfo">
                                <i class="fas fa-chevron-down" @click="infos(index)"></i>
                            </div>

                            <div class="arrow" v-show="nClick % 2 == 0 && index == info">
                                <div class="information info-mess" @click="showInfo">
                                    Message Info
                                </div>
                                <hr>
                                <div class="information delete-mess" @click="deleteMess(index)">
                                    Delete message
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="show-info" v-show="close == 1" >
                        <div class="contenitore-info">
                            <div class="consegnato">
                                Il messaggio è stato consegnato
                                <i class="far fa-paper-plane"></i>
                            </div>
                            <div class="visualizzato">
                                Il messaggio è stato visualizzato 
                                <i class="fas fa-check-double"></i>
                            </div>
                            <i class="close fas fa-times" @click="closeInfo"></i>
                        </div>
                    </div>
                </div>

                <div class="write-space">

                    <div class="row g-0">
                        <div class="col-1 write"><i class="far fa-smile"></i></div>
                        <div class="col-10 write"><input type="text" placeholder="Scrivi un messaggio" v-model="message" @keyup.enter="sendMessage"></div>
                        <div class="col-1 write"><i class="fas fa-microphone"></i></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="user-info" v-show="close1 == 1">
            <div class="user-info1">
                <div class="img-user-info">
                    <img :src="io.avatar" alt="">
                </div>
                <div class="name1 aa">
                    Nome: {{io.name1}}
                </div>
                <div class="surname1 aa">
                    Cognome: {{io.surname1}}
                </div>
                <div class="role aa">
                    Ruolo: {{io.role}}
                </div>
                <i class="fas fa-times" @click="closeUser"></i>
            </div>
        </div>

    </div>

    <!-- dayJs -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <!-- JavaScript -->
    <script src="./main.js"></script>
    
</body>
</html>