* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 17%,
        #dbe0de 17%,
        #dbe0de 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background: magenta;
    height: 90%;
    width: 90%;
}

.height {
    height: 100%;
}

#app .row:first-child {
    width: 100%;
}


/* ASIDE ZONE */

.utente {
    height: 70px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.aside {
    display: flex;
    flex-direction: column;
}
.img-profile-container {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.img-profile-container img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}

.name {
    cursor: pointer;
}

.notifiche {
    height: 90px;
    background: #a2dffe;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header-buttom {
    margin: 0 10px;
}

.header-buttom i {
    margin: 3px;
    color: #bababa;
    cursor: pointer;
}

.bell {
    height: 65px;
    width: 65px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.bell i {
    font-size: 30px;
    color: #a2dffe;
}

.bell-text span {
    display: block;
}

.big {
    font-size: 20px;
}

.underline {
    text-decoration: underline;
    color: #5e7f91;
    cursor: pointer;
}

.search {
    height: 50px;
    background: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.container-bar {
    height: 35px;
    width: 95%;
    display: flex;
    align-items: center;
}

.buttom-search {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: .5px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.input-text {
    height: 35px;
    width: 100%;
    border: .5px solid rgba(0, 0, 0, .1);
    padding: 0 10px;
}

.contact {
    position: relative;
    background: white;
    height: 100%;
    padding: 10px 20px;
    overflow-y: scroll;
}

.contact2 {
    position: absolute;
    overflow-y: auto;
    width: 90%;
}

.contact span {
    font-size: 20px
}

.contact ul {
    padding: 0;
}

.container ul li {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user span {
    margin: 0 10px;
}

.user-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.user-img img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

/* CHAT ZONE */
.chat-zone {
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.last-access {
    display: flex;
    flex-direction: column;
}

.last-access .second {
    color: #787e82;
}

.option {
    margin: 0 20px;
    color: #787e82;
}

.option i {
    margin: 0 10px;
    cursor: pointer;
}

.chat-area {
    height: 100%;
    background-image: url(./assets-boolzapp/img/mine.jpg);
}

.write-space {
    height: 70px;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.write {
    display: flex;
    justify-content: center;
    align-items: center;
}

.write i {
    font-size: 25px;
    cursor: pointer;
}

.write input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 20px;
}

.mess {
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 40%;
    min-width: 20%;
    padding: 13px;
    position: relative;
}

.mio {
    background: #ddfabf;
}

.suo {
    background: white;
}

.date1 {
    position: absolute;
    font-size: 10px;
    bottom: 0%;
    right: 4%;
    color: #bababa;
}

.date2 {
    position: absolute;
    font-size: 10px;
    bottom: 0%;
    left: 4%;
    color: #bababa;
}